* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

:root{
  --primary-color-active:rgba(76, 201, 134, 1);
  --primary-color-disable: rgba(54, 185, 114, 1);
  --primary-color-hover: rgba(6, 123, 60, 1);
  --primary-color-pressed: rgba(43, 179, 79, 1);

  --secondary-color-coolIris: rgba(95, 129, 251, 1);
  --secondary-color-lapisLazuli: rgba(18, 69, 201, 1);
  --secondary-color-deepBlue: rgba(6, 32, 123, 1);
  --secondary-color-coralReef: rgba(251, 95, 95, 1);
  --secondary-color-heyHoney: rgba(255, 220, 34, 1);

  --neutrals-color-shadow: rgba(20, 20, 20, 1);
  --neutrals-color-charcoal: rgba(48, 48, 48, 1);
  --neutrals-color-ashtray: rgba(81, 81, 81, 1);
  --neutrals-color-fossil: rgba(147, 147, 147, 1);
  --neutrals-color-pewter: rgba(196, 196, 196, 1);
  --neutrals-color-pebbles: rgba(216, 216, 216, 1);
  --neutrals-color-smoke: rgba(231, 231, 231, 1);
  --neutrals-color-mink: rgba(240, 240, 240, 1);
  --neutrals-color-snow: rgba(255, 255, 255, 1);
}

body {
  max-height: 100vh;
  min-height: 100vh;
  display: grid;
}

/** style  for carousel **/

#contItemCarousel {
 
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  
}

.itemCarousel {
 
  height: 100%;
  position: relative;
  
}

.cardCarousel {
    height: 100%;
}

.imgCarousel {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.arrowCarousel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}


header {
  z-index: 1;
}

.header__img .header__img--svg {
  margin: 44px 0 0 54px;
}


.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 100px;
}

.container--loggin {
  width: 462px;
  height: 702px;
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  backdrop-filter: blur(10px);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container--loggin__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/** style for titles **/

h1 {
  margin: 0;
}

.text1,
.text2 {
  font-style: normal;
  color: #ffffff;
}

.text1 {
  margin: 10px 0 0 0;
  font-size: 20px;
  font-weight: bolder;
}

.text2 {
  margin: 8px 0 16px;
  font-weight: 400;
  font-size: 16px;
}

/** style for error mail pass **/

.error-message-all{
  color: var(--secondary-color-coralReef);
  font-size: 15px;
}

/** style for inputs**/

.container--loggin__form input[type="email"],
.container--loggin__form input[type="password"] {
  display: block;
  border: none;
  width: 362px;
  height: 47px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  padding: 16px;
}

input[type="email"] {
  margin: 16px auto 0 auto; 
}

input[type="password"]{
  margin: 16px auto 0 auto; 
}

.pass--eye{
  background-image: url(/img/icons/eye.png);
  background-repeat: no-repeat;
  background-position: right 9.16px center;
  margin: 0 20px 0 0;
}

.form-control {
  display: flex;
  flex-direction: column;
  position: relative;
}

/** Style from validation inputs**/

.error-message {
  color: var(--secondary-color-coralReef);
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: 41%;
  bottom: 20%;
  pointer-events: none;
}

.input-error {
   outline: 1px solid var(--secondary-color-coralReef);
}

/** Style form checkbox **/

.container--loggin__form input[type="checkbox"] {
  display: none;
}

.container--loggin__form input[type="checkbox"] + label {
  cursor: pointer;

  font-weight: 400px;
  font-size: 14px;
  color: white;
}

label::before {
  content: "";
  background: transparent;
  border: 1.5px solid #ffffff;
  border-radius: 4px;
  display: inline-block;
  margin-right: 1em;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
}

input[type="checkbox"]:checked + label:before {
  content: "✓";
  font-size: 15px;
  background: #36b972;
  border-radius: 4px;
}

/** styles for link forgot password **/

.rememberForgot {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 24px 0;
}

.rememberForgot--forgotPass {
  color: #5fe19b;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}

/** styles for butons and anchors**/

.container--loggin__form a[type="submit"] {
  margin: auto;
  display: block;
  width: 362px;
  height: 47px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.logIn{
  margin: auto;
  display: block;
  width: 362px;
  height: 47px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  border: none;
}

.container--loggin__form .button__login .logIn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color-active);
}

.container--loggin__form .logIn:hover {
  background: var(--primary-color-hover);
}

.registerNow {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  padding-top: 32px;
}

.registerNow__notRegister {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin-right: 5px;
}

.registerNow__link {
  text-decoration: none;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: rgba(95, 225, 155, 1);
}

.decoration {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 24px 0 29px 0;
}

.decoration .decoration__line {
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  height: 0;
  width: 147px;
}
.decoration .decoration__text {
  display: flex;
  align-items: center;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  height: 19px;
}

.container--loggin__form .socialMedia .login__social {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 2px solid #ffffff;
  margin: 0 0 20px 0;
  
}


.container--loggin__form .socialMedia .login__social .face {
  margin-right: 14px;
}

.container--loggin__form .socialMedia .login__social .twitter {
  margin-right: 32px;
}


.container__asideButtonR,
.container__asideButtonL {
  padding: 32px;
}

.container__asideButtonL {
  width: 100%;
}

.container__asideButtons--left,
.container__asideButtons--right {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(81, 81, 81, 1);
  height: 43px;
  width: 43px;
}

footer {
  z-index: 1;
}

.container__centerButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container__centerButton--center {
  text-decoration: none;
  color: white;
  height: 27px;
  width: 120px;
  text-align: center;
  margin-top: 100px;
  border-radius: 18px;
  background-color: rgba(81, 81, 81, 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.slider {
  background: rgba(255, 255, 255, .5);
  width: 8px;
  border-radius: 50%;
  height: 8px;
  
}

a.slider:hover{
  background: var(--neutrals-color-snow);
}
